#include "splitkb.dtsi"

/* Colunas do lado ESQUERDO (C0..C5 = mindinho -> índice) */
&kscan0 {
    col-gpios
        = <&pro_micro 8  GPIO_ACTIVE_HIGH>
        , <&pro_micro 9  GPIO_ACTIVE_HIGH>
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    /* Joystick ESQUERDO (central) = CURSOR de mouse, local. */
    anin_left: analog_input_left {
        compatible = "zmk,analog-input";
        sampling-hz = <100>;

        x-ch {
            io-channels = <&adc 0>;
            mv-mid = <1660>;        /* calibrado no teste */
            mv-min-max = <1600>;
            mv-deadzone = <30>;
            scale-multiplier = <1>;
            scale-divisor = <70>;
            evt-type = <INPUT_EV_REL>;
            input-code = <INPUT_REL_X>;
        };
        y-ch {
            io-channels = <&adc 1>;
            mv-mid = <1710>;
            mv-min-max = <1600>;
            mv-deadzone = <30>;
            scale-multiplier = <1>;
            scale-divisor = <70>;
            evt-type = <INPUT_EV_REL>;
            input-code = <INPUT_REL_Y>;
        };
    };

    jsl_listener: jsl_listener {
        compatible = "zmk,input-listener";
        device = <&anin_left>;
    };
};

/* O central (este lado) escuta o joystick da periférica que chega pela split. */
&jsr_listener {
    status = "okay";
};
